{% extends 'base.html' %}

{% block addons %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9418218820190844"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section>
        <h2>Contact Form</h2>
        <p>
            You can use this form to contact us if you have
            questions / comments. Make sure you fill
            every item in the form.
        </p>
    </section>
    <section>
        {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
        {% endif %}
        <div class="container">
            <form action="/contact" method="POST">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="fname" value="{% if firstName is defined %}{{ firstName }}{% endif %}" required>
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lname" value="{% if lastName is defined %}{{ lastName }}{% endif %}" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="{% if email is defined %}{{ email }}{% endif %}" required>
                <label for="comment">Comment</label>
                <textarea id="comment" name="comment" placeholder="Text goes here" style="height:200px" required>{% if comment is defined %}{{ comment }}{% endif %}</textarea>
                <input type="submit" value="Send Form">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            </form>
            <p>
                I will try out best to get back to as soon as I can.
            </p>
        </div>
    </section>
{% endblock %}