{% extends 'base.html' %}

{% block addons %}{% endblock %}

{% block content %}
    <section>
        <img src="/bucket/stand-{{ image.fullImg }}" alt="{{ image.object }} - {{ image.date | date }}">
        <h2>Details for {{ image.object }}</h2>
        <table>
            <tr>
                <td>Object in the Image</td>
                <td>{{ image.object }}</td>
            </tr>
            <tr>
                <td>Date and Time Taken</td>
                <td><time datetime="{{ image.date | date('YYYY-MM-DDTHH:mm') }}">{{ image.date | date }}</time></td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ image.location }}</td>
            </tr>
            <tr>
                <td>Telescope Used</td>
                <td>{{ image.telescope }}</td>
            </tr>
            <tr>
                <td>Other Comments</td>
                <td>{{ image.comments }}</td>
            </tr>
        </table>
        <p class="btn"><a href="/bucket/{{ image.fullImg }}" download>Full Download</a></p>
        <p>
            Click on the button to download the full size image.
        </p>
    </section>
{% endblock %}