{% extends 'base.html' %}

{% block addons %}
    <meta name="description" content="These are full list of images that I have taken through my telescopes.">
    <meta name="author" content="Amateur Astro Image Team">
{% endblock %}

{% block content %}
    <section>
        <h2>List of Images</h2>
        <div id="image-list">
            {% for image in images %}
            <div class="image-item">
                <img src="/bucket/thumb-{{ image.fullImg }}" alt="{{ image.object }} - {{ image.date | date }}">
                <p>{{ image.object }} | <time datetime="{{ image.date | date('YYYY-MM-DDTHH:mm') }}">{{ image.date | date('MM/DD/YYYY') }}</time></p>
                <p class="btn"><a href="/image-view/{{ image._id }}">Details</a></p>
            </div>
            {% endfor %}
        </div>
        <div id="image-page">
            <p>
                {% if prev %}<a href="/images/{{ prev }}"><< Previous</a>{% endif %}
                {% if first %}<a href="/images/1">1</a>{% endif %}
                <span id="page-number">{{ current }}</span>
                {% if last %}<a href="/images/{{ last }}">{{ last }}</a>{% endif %}
                {% if next %}<a href="/images/{{ next }}">Next >></a>{% endif %}
            </p>
        </div>
    </section>
{% endblock %}