{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>The Latest Image</h2>
    </section>
    <section>
        <h2>Site Navigation</h2>
        <p>
            Here are other sections for the webstite. 
        </p>
        <ul>
            <li>
                <a href="/images">Images:</a> See all the images taken through
                my telescope and stored on the website.
            </li>
            <li>
                <a href="/contact">Contact:</a> Go here to send me some
                feedback for this website.
            </li>
            <li>
                <a href="/about">About:</a> More information about the website.
            </li>
        </ul>
        <p>
            All links below are shown in the menu bar.
        </p>
    </section>
{% endblock %}