{% extends 'base.html' %}

{% block addons %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9418218820190844"
     crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section>
        <h2>Welcome</h2>
        <p>
            Welcome to my astrophotography website where I display
            all the images that I have take through my telescopes.
        </p>
    </section>
    {% if image %}
    <section>
        <h2>The Latest Image</h2>
        <img src="data:image/{{ image.standImg.contentType }};base64,{{ image.standImg.data.toString('base64') }}" alt="{{ image.object }} - {{ image.date | date }}">
        <p class="title-text">
            {{ image.object }} - taken on {{ image.date | date }}
        </p>
        <p class="btn"><a href="/image-view/{{ image._id }}">Details</a></p>
    </section>
    {% endif %}
    <section>
        <h2>Site Navigation</h2>
        <p>
            Here are other sections for the webstite. 
        </p>
        <ul>
            <li>
                <a href="/images">Images:</a> See all the images taken through
                my telescope and stored on the website.
            </li>
            <li>
                <a href="/contact">Contact:</a> Go here to send me some
                feedback for this website.
            </li>
            <li>
                <a href="/about">About:</a> More information about the website.
            </li>
        </ul>
        <p>
            All links above are shown in the menu bar.
        </p>
    </section>
{% endblock %}