{% extends 'base.html' %}

{% block content %}
    <section>
        <h2>Reset Password</h2>
        <form action="/admin/reset-password" method="POST">
            <label for="password">New Password: </label>
            <input type="password" id="password" name="password">
            <label for="cpassword">Confirm Password: </label>
            <input type="password" id="cpassword" name="cpassword">
            <button type="submit">Reset Password</button>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
    </section>
{% endblock %}