/* Code that affects the whole page */
body {
    background-color: #EEE;
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    background-image: url("/img/Moon2-tmb.jpg");
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#page {
    max-width: 95%;
    margin: 0 auto;
    line-height: 1.4em;
}

h2, h3, h4 {
    border-bottom: black solid 1px;
    padding-bottom: 5px;
}

/* Code for the header section of the page */
header {
    padding: 20px;
    background-color: white;
    border-top: lightblue solid 5px;
    border-left: lightblue solid 5px;
    border-right: lightblue solid 5px;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
    line-height: 2em;
}

/* Code the main menu of the page */
nav {
    background-color: #333;
    overflow: hidden;
    border-bottom: lightblue solid 5px;
    border-left: lightblue solid 5px;
    border-right: lightblue solid 5px;
    border-radius: 0px 0px 15px 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
}

nav ul li a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    transition: all 0.63s ease 0s;
}

#thePage {
    font-weight: bold;
    color: gold;
}

.responsive li {
    display: block;
}

/* Code for the main section of the page */
main {
    padding: 20px;
    padding-bottom: 0px;
    background-color: white;
    border-top: lightblue solid 5px;
    border-left: lightblue solid 5px;
    border-right: lightblue solid 5px;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: -20px;
}

main img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.title-text {
    text-align: center;
    color: red;
}

.btn {
    text-align: center;
}

.btn a {
	padding: 10px;
	border-radius: 20px;
	background-color: #f44336;
	color: white;
	max-width: 100px;
	margin: 0 auto;
    font-size: 1.5em;
}

.btn a:link, .btn a:visited {
	text-decoration: none;
	color: white;
}

/* Code for the contact form */
.container label {
    display: block;
    margin-top: 10px;
}

.container input {
    display: block;
    padding: 10px;
}

/* Code for the login form */
form label {
    display: block;
    margin-top: 10px;
}

form input {
    display: block;
    padding: 10px;
}

form button {
    margin-top: 10px;
}

/* Code for the image list page */
#image-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.image-item {
    border: 3px solid black;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 8px 14px rgba(0,0,0,0.26);
    padding: 10px;
    text-align: center;
}

.image-item img {
    border: 2px solid red;
    border-radius: 15px 15px 15px 15px;
}

#image-page {
    text-align: center;
}

#page-number {
    font-weight: bolder;
}

/* Code for the view image page */
table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 2px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Code for the footer section of the page */
footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: white;
    border-bottom: lightblue solid 5px;
    border-left: lightblue solid 5px;
    border-right: lightblue solid 5px;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 20px;
}

footer p {
    border-top: black solid 1px;
    font-size: 0.5em;
    text-align: center;
}